%ul
  - data[0].each do |l|
    %li= l
  %h3 Memory usage
  %table
    %thead
      %tr
        %th
        - data[1][0].split(' ').each do |col|
          %th= col
    %tbody
      %tr
        %td Mem
        - data[1][1].split(/\s+/).drop(1).each do |row|
          %td= row + " MB"
      %tr
        %td Swap
        - data[1][2].split(/\s+/).drop(1).each do |row|
          %td= row + " MB"
