<% processes.each do |k, v| %>
  <li>
    <%= render 'process', process: k %>
    <ul class='tree'>
      <% v.each do |p| %>
        <% if p.is_a?(Hash) %>
          <%= render 'processes', processes: p %>
        <% else %>
          <li><%= render 'process', process: p %></li>
        <% end %>
      <% end %>
    </ul>
  </li>
<% end %>
